<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
    <input id="s5" type="radio" name="slide1" />
    <input id="s6" type="radio" name="slide1" />
    <input id="s7" type="radio" name="slide1" />
    <input id="s8" type="radio" name="slide1" />
    <input id="s9" type="radio" name="slide1" />
    <input id="s10" type="radio" name="slide1" />
    <div class="sh__content">
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="~/Images/UWP.png" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>UWP</h4>
                <span>
                    Curso de app para la plataforma universal de Windows UWP C#
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="~/Images/Xamarin.png" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Xamarin</h4>
                <span>
                    Curso de Xamarin para la Androidy Firebase en C#
                </span>
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="~/Images/Systema-portada-core.png" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Asp net Core MVC</h4>
                <span>
                    Curso de aplicaciones web modernas en Asp net Core MVC en C#
                </span>
            </div>
        </div>
    </div>
    <!--botones-->
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
    </div>
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
    </div><!-- .sh__arrows -->
</div>